contourpy==1.2.0
cycler==0.12.1
fonttools==4.47.2
importlib-resources==6.1.1
jellyfish==0.11.2
kiwisolver==1.4.5
matplotlib==3.8.2
numpy==1.26.3
packaging==23.2
pandas==2.2.0
pillow==10.2.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2024.1
scipy==1.12.0
six==1.16.0
tzdata==2023.4
us==3.1.1
zipp==3.17.0
